.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  /* max-width: 100%; */
  width: 80%;
}
fieldset {
  border: none;
  width: 100%;
  padding: 1em;
}

legend {
  font-size: 18px;
  margin: 0px;
  padding: 10px 0px;
  color: #b0232a;
  font-weight: bold;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 5px;
  border: solid 1px #000;
}

/*
.prev, .next {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}

.prev:hover, .next:hover {
  background-color: #000;
  text-decoration: none;
}
*/
.prev {
  float: left;
}

.next {
  float: right;
}

#steps {
  list-style: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#steps li {
  font-size: 24px;
  float: left;
  padding: 10px;
  color: #b0b1b3;
}

#steps li span {
  font-size: 11px;
  display: block;
}

#steps li.current {
  color: #000;
}
.hide {
  display: none;
}
.right {
  float: right;
}
